<section class="contact-details">
    <section class="contact-actions">
        <button (click)="onBack()"><img src="../../../assets/images/back.png" alt="go back"></button>
        <button [routerLink]="['/edit', contact$._id]"><img src="../../../assets/images/edit.png"
                alt="edit contact"></button>
        <button *ngIf="!showInput"(click)="toggleInput()">
    <img  src="../../../assets/images/plus.png" alt="contact-img">
        
        </button>
        <form class="transferForm" [formGroup]="form" (ngSubmit)="onTransfer()" *ngIf="showInput" action="">
            <input formControlName="sum" type="number">
            <button>send</button>
        </form>
    </section>

    <hr>

    <img src="../../../assets/images/contact.png" alt="contact-img">
    <h2>Name: {{contact$.name}}</h2>
    <h2>Phone: {{contact$.phone}}</h2>
    <h2>Email: {{contact$.email}}</h2>
    <h2>balance: {{contact$.balance||0 }}</h2>

</section>